<div class="text-center" [ngClass]="config.mode == uploaderModeEnum.Profile ? 'profile-mode': 'normal-mode'">
  <div class="img">
    <img *ngIf="imagesNames.length == 0" [src]="silhouetteImage" alt="Image" class="img-fluid" />

    <div *ngIf="imagesNames.length > 0">
      <img *ngFor="let img of imagesNames" [src]="getImageUrl(img)" alt="Uploaded Image" class="img-fluid" />
    </div>
  
  </div>
  <div class="progress mt-2" *ngIf="progress > 0 && progress < 100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
      aria-valuemax="100" [style.width.%]="progress">{{progress}}%</div>
  </div>
  <div class="mt-2">
    <input accept="image/png, image/jpeg, image/jpg, image/gif" type="file" #file placeholder="Choose file"
      (change)="uploadFile(file.files)" style="display:none;" [multiple]="config.multiple">
    <button mat-flat-button color="primary" (click)="file.click()" type="button">Upload Image</button>
  </div>
</div>
