<h1>Villa: <span class="text-primary">{{villa?.name}}</span> details</h1>
<hr>
<div class="row">
  <div class="col-md-2">Name</div>
  <div class="col-md-10">{{villa?.name}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Address</div>
  <div class="col-md-10">{{villa?.address}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Rating</div>
  <div class="col-md-10">{{villa?.rating}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Number of Occupants</div>
  <div class="col-md-10">{{villa?.numberOfOccupants}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Price</div>
  <div class="col-md-10">{{villa?.price}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Booked</div>
  <div class="col-md-10">
    <mat-icon *ngIf="villa?.isBooked == false" class="text-success" fontIcon="meeting_room"></mat-icon>
    <mat-icon *ngIf="villa?.isBooked" class="text-danger" fontIcon="no_meeting_room"></mat-icon>
  </div>
</div>

<div class="mt-4">
  <button class="me-2" mat-raised-button color="basic" [routerLink]="['/villas']">Back</button>
  <button mat-raised-button color="primary" [routerLink]="['/villas/edit/', villaId]">Edit</button>
</div>

<hr class="mt-5">
<h2>Villa Addons</h2>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let addOn of villa.addOns">
      <td>{{ addOn.id }}</td>
      <td>{{ addOn.name }}</td>
      <td>{{ addOn.price }}</td>
    </tr>
  </tbody>
</table>
