<h2>Villas</h2>
<hr>
<button class="mb-3" mat-raised-button color="primary" [routerLink]="['/villas/create']">Create New Villa</button>

<div class="position-relative">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Booked</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let villa of villas">
        <td>{{ villa.name }}</td>
        <td>{{ villa.address }}</td>
        <td>{{ villa.rating }}</td>
        <td>{{ villa.price }}</td>
        <td>
          <mat-icon *ngIf="villa.isBooked == false" class="text-success" fontIcon="meeting_room"></mat-icon>
          <mat-icon *ngIf="villa.isBooked" class="text-danger" fontIcon="no_meeting_room"></mat-icon>
        </td>
        <td class="pb-0 mb-0">
          <a class="me-2 text-info" [routerLink]="['/villas/details', villa.id]">
            <mat-icon fontIcon="info_outline"></mat-icon>
          </a>
          <a class="me-2" [routerLink]="['/villas/edit', villa.id]">
            <mat-icon fontIcon="edit"></mat-icon>
          </a>
          <a class="pointer text-danger" (click)="deleteVilla(villa.id, villa.name)">
            <mat-icon fontIcon="delete"></mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="spin-wrap" *ngIf="showSpinner">
    <mat-spinner class="position-absolute top-50 start-50 translate-middle"></mat-spinner>
  </div>

</div>
