<h1>Customer: <span class="text-primary">{{customer?.name}}</span> details</h1>
<hr>
<div class="row">
  <div class="col-md-2">Id</div>
  <div class="col-md-10">{{customer?.id}}</div>
</div>

<div class="row mt-3">
  <div class="col-md-2">Name</div>
  <div class="col-md-10">{{customer?.name}}</div>
</div>

<div class="row mt-3">
  <div class="col-md-2">Age</div>
  <div class="col-md-10">{{customer?.age}}</div>
</div>

<div class="row mt-3">
  <div class="col-md-2">Date of birth</div>
  <div class="col-md-10">{{customer?.dob | date:'short'}}</div>
</div>
<div class="row mt-3">
  <div class="col-md-2">Gender</div>
  <div class="col-md-10">{{gender[customer!.gender]}}</div>
</div>
