<h1>
  <span *ngIf="pageMode == pageModeEnum.Create">Add Addon</span>
  <span *ngIf="pageMode == pageModeEnum.Edit">
    <span>Edit Addon </span>
    <span class="text-primary">{{ addon?.name }}</span>
  </span>
</h1>
<hr>

<form [formGroup]="addonForm" (ngSubmit)="submitForm()">

  <div class="">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error>Name is required</mat-error>
    </mat-form-field>
  </div>

  <div class="">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" required>
      <mat-error>Price is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <button class="me-2" [routerLink]="['/addons']" mat-stroked-button color="basic">Cancel</button>
    <button mat-flat-button color="primary" type="submit">
      <span *ngIf="pageMode == pageModeEnum.Create">Create</span>
      <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
    </button>
  </div>
</form>
