<h2>Customers</h2>
<hr>
<a class="mb-3 btn btn-primary" [routerLink]="['/customer/create']">Create New Customer</a>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ gender[customer.gender] }}</td>
      <td>{{ customer.age }}</td>
      <td>
        <a [routerLink]="['/customer/details', customer.id]">
          Details
        </a>
        |
        <a [routerLink]="['/customer/edit', customer.id]">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
