<h1>
  <span *ngIf="pageMode == pageModeEnum.Create">Add Villa</span>
  <span *ngIf="pageMode == pageModeEnum.Edit">
    <span>Edit Villa </span>
    <span class="text-primary">{{ villa?.name }}</span>
  </span>
</h1>
<hr>

<form [formGroup]="villaForm" (ngSubmit)="submitForm()">

  <app-image-uploader (onUploadFinished)="uploadFinished($event)" [config]="uploaderConfig"></app-image-uploader>

  <div class="row">
    <div class="col-md-6">
      <div class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error>Name is required</mat-error>
          <mat-error *ngIf="villaNameExists">{{villaNameExistsMessage}}</mat-error>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" required>
          <mat-error>Address is required</mat-error>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rating</mat-label>
          <input matInput formControlName="rating" required>
          <mat-error>Rating is required</mat-error>
        </mat-form-field>
      </div>

      <div appearance="outline" class="w-100 mb-4">
        <mat-slide-toggle color="primary" formControlName="isBooked">Booked</mat-slide-toggle>
      </div>

    </div>



    <div class="col-md-6">

      <div class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Number of occupants</mat-label>
          <input matInput formControlName="numberOfOccupants" required>
          <mat-error>Number of occupants is required</mat-error>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" required>
          <mat-error>Price is required</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Add Ons</mat-label>
        <mat-select formControlName="addonIds" multiple>
          <mat-option *ngFor="let addon of addonsLookup" [value]="addon.value">{{addon.text}}</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </div>

  <div>
    <button class="me-2" [routerLink]="['/villas']" mat-stroked-button color="basic">Cancel</button>
    <button mat-flat-button color="primary" type="submit">
      <span *ngIf="pageMode == pageModeEnum.Create">Create</span>
      <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
    </button>
  </div>

</form>
